{
  "extends": ["airbnb/hooks", "airbnb"],
  "plugins": ["react"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {},
  "root": false
}
